.contactContainer {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: grid;
    place-items: center;
    background-color: white;
  }
  
  .mailBtn {
    text-decoration: none;
    transform: translateX(-100vw);
    animation: mailBtnAnimation 2s forwards;
    
  }
  .linkedInBtn {
      text-decoration: none;
      transform: translateX(-100vw);
      animation: mailBtnAnimation 4s forwards;
    }
    .twitterBtn {
      text-decoration: none;
      transform: translateX(-100vw);
      animation: mailBtnAnimation 6s forwards;
    }
  
  .mailBtn > button {
    font-size: 2vmax;
    cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
    padding: 2vmax;
    color: #F2A60C    ;
  }
  .linkedInBtn > button {
   font-size: 2vmax;
   cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
   padding: 2vmax;
   color: #0A66C2;
 }
   .twitterBtn > button {
    font-size: 2vmax;
    cursor: url("https://img.icons8.com/color/48/000000/edit--v2.png"), pointer;
    padding: 2vmax;
    color: #00acee;
  }
  
  @keyframes mailBtnAnimation {
    to {
      transform: translateX(0);
    }
  }